<h1>Rails magic</h1>
<ul>
  <li><%= link_to "Ссылки с ajax", rails_magic_link_url %></li>
  <li><%= link_to "Формы с ajax", rails_magic_form_url  %></li>
  <li><%= link_to "Поиграемся с реквестом", rails_magic_play_with_request_url %></li>
</ul>

<h1>Manual handling</h1>
<ul>
  <li><%= link_to "HTML с ajax руками", manual_ajax_link_url %></li>
</ul>